
.sectionTitle{
  cursor: pointer;
}
.operation{
  position: absolute;
  right: 100px;
}

.icon{
  color: #169866;
  margin-left:10px;
  cursor: pointer;
  font-size: 15px;
}

// study
.name{
  cursor: pointer;
}
.name:hover{
  color: #169866;
}
.tab{
  width:250px;
}
.iconRightRow{
  margin-left: 10px;
  margin-right: 10px;
}

// nodata
.nodata{
  width: 900px;
  height: 400px;
  text-align: center;
  margin-top: 100px;
}
.nodata .tips{
  margin-top: 20px;
  font-size: 22px;
}